.pointsale {

  & &-board-numeric {
    background-color: $card-buttons-numeric-background;
    border: 3px solid $button-numeric-border-color;
    // border-top: none;
    // border-top-left-radius: 0 !important;
    // border-top-right-radius: 0 !important;

    .card-body {
      padding: .5em;
      display: grid;
      justify-content: center;
      grid-template-columns: auto auto auto auto;
      gap: .25em;
    }
  }

  .btn-board-numeric {
    background-color: $button-numeric-background;
    border: 3px solid $button-numeric-border-color;
    color: $button-numeric-color !important;
    border-radius: var(--button-numeric-border-radius);
    width: var(--button-numeric-size);
    height: var(--button-numeric-size);
    outline: none !important;
    font-size: var(--button-numeric-font-size);
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--button-numeric-font-weight);

    @include min-mq('mobile-landscape') {
      --button-numeric-size: 60px;
    }

    @include min-mq('tablet') {
      --button-numeric-size: 47px;
    }

    @include min-mq('laptop'){
      --button-numeric-size: 52px;
      --button-numeric-font-size: 1.5rem;
    }
  
    @include min-mq('laptop-middle') {
      --button-numeric-size: 60px;
      --button-numeric-font-size: 1.75rem;
    }

    &--enter {
      grid-area: 3 / 4 / span 2 / span 1;
      height: 100%;
      border-radius: 2em;
    }
  
    &--zero {
      grid-area: 4 / 1 / auto / span 2;
      width: 100%;
      border-radius: 2em;
    }
  
    &--key {
      background-color: $button-numeric-key-background !important;
      
      &:active {
        background-color: darken($button-numeric-key-active, 5) !important;
      }
    }

    &.active {
      background-color: $button-numeric-key-active !important;
      color: darken($button-numeric-key-active, 32) !important;
  
      &:active {
        background-color: darken($button-numeric-key-active, 10) !important;
      }
    }
  
    &:active {
      background-color: darken($button-numeric-background, 5);
    }
  }
}
