$border: 4px solid $button-numeric-border-color !important;

.pointsale {
  & &-product-quantity {
    display: flex;
    font-size: 2rem;
    background-color: $card-buttons-numeric-background !important;
    border: $border;
    // border-bottom-left-radius: 0 !important;
    // border-bottom-right-radius: 0 !important;

    .card-body {
      display: flex;
      padding: 0 !important;
      font-weight: 900;
      color: #F1F1F1 !important;

      @include min-mq('laptop-middle') {
        padding: 0;
      }

      .product-quantity {
        &__increment,
        &__decrement {
          display: block;
          outline: none;
          border: none;
          padding: .2em .5em !important;
          background-color: var(--button-numeric-background);
          color: white;
          flex: none;
          
          &:active {
            background-color: darken($button-numeric-background, 5);
          }
          
          @include min-mq('laptop-middle') {
            padding: .45em .9em !important;
          }

          @include min-mq('laptop') {
            padding: .4em .8em !important;
          }

        }

        &__increment {
          border-right: $border;
        }

        &__decrement {
          border-left: $border;
        }
      
        &__value {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
