.pointsale-plus {

  .pointsale-tools {
    background-color: transparent !important;
    box-shadow: none;
    
    .card-body {
      padding: .5em .025em !important;
    }

    button {
      font-size: 1rem;

      @media screen and (max-width: #{map-get($pointsale-media-query, pointsale-laptop)}) {
        font-size: .8rem;
      }  
    }
  }
}

.table-amount {
  width: 100%;

  th {
    font-size: 1.25rem;

    @media screen and (max-width: #{map-get($pointsale-media-query, pointsale-laptop)}) {
      font-size: 1.1rem;
    }
  }

  th:last-child {
    text-align: right;
  }

}