.pointsale {
  & &-product-detail {
    .card-body {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
      
      @include min-mq('mobile') {
        grid-template-columns: 1fr 1fr;
      }
      
      @include min-mq('mobile-landscape') {
        grid-template-columns: 1fr;
      }
    }
  }
  .product {
  
    &-container-img {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $primary;
      border-radius: .25em;
      padding: .5em;
    }
  
    &-card-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  
    &-img {
      width: 100%;
      user-select: none;
      height: 100%;
      max-height: 200px;
      object-fit: contain;
      object-position: center;

      @media screen and (orientation: "landscape") {
        height: 100%;
      }
  
      @media screen and (orientation: "landscape") and (min-width: #{map-get($pointsale-media-query, pointsale-tablet)}) {
        max-height: 20vh;
      }
    }
  
    &-name {
      background-color: lighten($primary, 20);
      color: darken($primary, 16);
      margin-top: .25em;
      border-radius: .25em;
      text-align: center;
      user-select: none;
      font-size: 1rem;
      padding: .5em 1em;
      font-weight: 900;
    }
  
    &-ref,
    &-code {
      font-weight: 600;
      display: none;
  
      @include min-mq('laptop') {
        display: block;
      }
    }
  
    &-code {
      margin-bottom: 1.5em;
    }
  
    &-price {
      font-size: 1.65rem;
      font-weight: 900;
      color: black;
      margin-bottom: .05em;
      margin-top: .5em;
  
      .dark-layout & {
        color: white;
      }
  
      @include min-mq('laptop-middle') {
        font-size: 2rem;
      }
  
    }
  
    &-discount {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid red;
      padding: .35em .5em;
      border-radius: 1em;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      color: white;
      // width: 60px;
      transform: rotate(10deg);
      user-select: none;
  
      .dark-layout & {
        background-color: lighten(red, 14);
      }
      
      &-circle {
        display: block;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 2px solid red;
        margin-right: .5em;
        display: block;
        
        .dark-layout & {
          border: 2px solid darken(red, 10);
        }
      }
  
      &-percentage {
        display: block;
        color: red;
        font-weight: 900;
        font-size: 8px;
  
        .dark-layout & {
          color: white;
        }
      }
  
    }
  
  }
}
