$border: 4px solid $border-color !important;

.pointsale-product-quantity {
  display: flex;
  font-size: 2rem;
  background-color: $bg-card-input !important;
  border: $border;
  
  .card-body {
    // padding: .25em .75em;
    display: flex;
    padding: 0 !important;
    font-weight: 900;
    color: #F1F1F1 !important;
    
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-laptop-middle)}) {
      // padding: .5em .75em;
      padding: 0;
    }

    .product-quantity {
      &__increment,
      &__decrement {
        padding: .5em 1em !important;
        display: block;
        outline: none;
        border: none;
        background-color: var(--bg-card-dark);
        color: white;
        flex: none;

        &:active {
          background-color: darken($bg-card-dark, 5);
        }
      }

      &__increment {
        border-right: $border;
      }

      &__decrement {
        border-left: $border;
      }
    
      &__value {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }  
}

