$height-nav: 8rem;

%column-grid {
  display: grid;
  gap: 1em;
}

.pointsale {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  min-height: calc(100vh - #{$height-nav});
  padding-bottom: 1.5em;

  &.show-product-detail {
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-mobile)}){
      grid-template-columns: 1fr;
    }
  
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-mobile-landscape)}) {
      grid-template-columns: 1fr 266px;
    }
    
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-tablet)}) {
      grid-template-columns: 210px 266px minmax(200px, 2.5fr);
    }
  
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-tablet-landscape)}) {
      grid-template-columns: 210px 266px minmax(200px, 2.5fr) 200px;
    }
  
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-laptop)}) {
      grid-template-columns: 210px 290px minmax(200px, 2.5fr) 280px;
    }
  
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-laptop-middle)}) {
      grid-template-columns: minmax(210px, .75fr) minmax(310px, 330px) minmax(200px, 2.5fr) 280px;
    }

    .pointsale-product {
      display: grid;
    }
  }
  
  &.no-show-product-detail {
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-mobile)}){
      grid-template-columns: 1fr;
    }
  
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-mobile-landscape)}) {
      grid-template-columns: 1fr 266px;
    }
    
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-tablet)}) {
      grid-template-columns: 210px minmax(200px, 2.5fr);
    }
  
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-tablet-landscape)}) {
      grid-template-columns: 210px minmax(200px, 2.5fr) 200px;
    }
  
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-laptop)}) {
      grid-template-columns: 210px minmax(200px, 2.5fr) 280px;
    }
  
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-laptop-middle)}) {
      grid-template-columns: minmax(210px, .75fr) minmax(200px, 2.5fr) 280px;
    }

    .pointsale-product {
      display: none;
    }
  }
  
  &-data-general,
  &-product,
  &-list,
  &-plus {
    @extend %column-grid;
  }

  &-data-general {
    grid-template-rows: auto 1fr;
  }

  &-product {
    grid-template-rows: 1fr auto;
  }

  &-list {
    grid-column: span 1;
    
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-mobile-landscape)}){
      grid-column: span 2;
    }

    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-tablet)}) {
      grid-column: auto;
    }
  }

  &-plus {
    grid-template-columns: 1fr;
    grid-column: span 1;
    font-size: .8rem;
    
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-mobile-landscape)}){
      grid-template-columns: 1fr 1fr;
      grid-column: span 2;
    }
    
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-tablet)}) {
      grid-column: span 3;
    }
    
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-tablet-landscape)}) {
      grid-column: auto;
      grid-template-columns: auto;
    }
  }

}