$header-height: 8rem;

%column-grid {
  display: grid;
  gap: 1em;
}

.pointsale {
  display: grid;
  gap: 1em;
  min-height: calc(100vh - #{$header-height});
  grid-template-columns: 1fr;
  padding-bottom: 1.5em;

  @include min-mq('tablet') {
    grid-template-columns: 210px 1fr 200px;
  }
  @include min-mq('laptop') {
    grid-template-columns: 230px 1fr 200px;
  }

  &.no-show-product-detail {
    @include min-mq('laptop-middle') {
      grid-template-columns: 200px 1fr 200px;
    }
    @include min-mq('desktop') {
      grid-template-columns: 240px 1fr 240px;
    }
  }

  &.show-product-detail {
    @include min-mq('laptop-middle') {
      grid-template-columns: 200px 266px 1fr 200px;
    }
    @include min-mq('desktop') {
      grid-template-columns: 240px 266px 1fr 240px;
    }
  }
  
  &-info,
  &-product,
  &-list,
  &-plus {
    @extend %column-grid;
  }

}