// Variables
$height-nav: 10rem !default;
$font-size-title: 14px !default;
$font-size-label: 11px !default;
$font-size-text: 12px !default;

$bg-card-dark: #333;
$bg-card-input: #777;
$border-color: #111;
$color-light: #D1D1D1;

// Button Numeric
$size-button-board-numeric: 70px;
$font-size-button-board-numeric: 2rem;

// List Item
$font-size-item-title: 1.2rem;
$font-weight-item-title: 900;  
$font-size-item-text: 1rem;
$font-weight-item-text: 500;

:root {
  --height-nav: 10rem;
  --font-size-title: 14px;
  --font-size-label: 13px;
  --font-size-text: 15px;

  --bg-card-dark: #333;
  --bg-card-input: #777;
  --border-color: #111;
  --color-light: #D1D1D1;
  
  // Button Numeric
  --size-button-board-numeric: 70px;
  --font-size-button-board-numeric: 2rem;

  // List Item
  --font-size-item-title: 1.2rem;
  --font-weight-item-title: 900;  
  --font-size-item-text: 1rem;
  --font-weight-item-text: 500;

}

// Media query
$pointsale-media-query: (
  pointsale-mobile: 320px,
  pointsale-mobile-landscape: 568px,
  pointsale-tablet: 768px,
  pointsale-tablet-landscape: 1024px,
  pointsale-laptop: 1366px,
  pointsale-laptop-middle: 1582px,
  pointsale-desktop: 1680px,
);
