// Importando configuracion base
@import './config/config';
// Importando estilos de la página
@import './pages/pointSale';

.pointsale {
  // Importando estilos de los componentes
  @import './components/cardSale';
  @import './components/pointSaleProductDetail';
  @import './components/pointSaleProductQuantity';
  @import './components/pointSaleBoardNumeric';
  @import './components/pointSaleList';
  @import './components/pointSaleTools';
}

.pointsale-list {
  .pointsale.no-show-product-detail & {
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-mobile-landscape)}){
      grid-column: span 1;
    }
  }
}

.product-item__info {
  display: flex;
  align-items: flex-start;
  
  @media screen and (max-width: #{map-get($pointsale-media-query, pointsale-tablet-landscape)}) {
    .pointsale.show-product-detail & {
      flex-direction: column;
  
      &__column {
        &:not(&:first-child) {
          margin-top: .2em;
        }
      }
    }
  }
}

.product-item__image {
  .pointsale.no-show-product-detail & {
    display: block !important;
    margin-right: 1.5em;
  }
  .pointsale.show-product-detail & {
    display: none !important;
    
    @media screen and (min-width: #{map-get($pointsale-media-query, pointsale-tablet-landscape) + 300}) {
      display: block !important;
      margin-right: 1.5em;
    }
  }
}