// Importando configuracion base
@import './config/config';
// Importando estilos de la página
@import './pages/pointSale';

.pointsale {
  // Importando estilos de los componentes
  @import './components/cardSale';
  @import './components/pointSaleProductDetail';
  @import './components/pointSaleProductQuantity';
  @import './components/pointSaleBoardNumeric';
  @import './components/pointSaleList';
  @import './components/pointSaleTools';
}

.product-item__info {
  display: flex;
  align-items: flex-start;
  
  @media screen and (max-width: #{map-get($pointsale-media-query, pointsale-tablet-landscape)}) {
    .pointsale.show-product-detail & {
      flex-direction: column;
  
      &__column {
        &:not(&:first-child) {
          margin-top: .2em;
        }
      }
    }
  }
}
